.button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border:1px solid #CCCCCC;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	font-family: arial, helvetica, sans-serif;
	text-decoration:none;
	display:inline-block;
	text-shadow: 0px 1px 0 rgba(255,255,255,1);
	font-weight:bold;
	color: #4A4A4A;
	padding: 10px 15px;

}
.button :hover{
	border:1px solid #ADADAD;

}

.button :active{
	border:1px solid #9D9D9D;

}

.col-gray {
	 background-color: #F7F5F6;
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F5F6), to(#DDDDDD));
	 background-image: -webkit-linear-gradient(top, #F7F5F6, #DDDDDD);
	 background-image: -moz-linear-gradient(top, #F7F5F6, #DDDDDD);
	 background-image: -ms-linear-gradient(top, #F7F5F6, #DDDDDD);
	 background-image: -o-linear-gradient(top, #F7F5F6, #DDDDDD);
	 background-image: linear-gradient(to bottom, #F7F5F6, #DDDDDD);
	 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F7F5F6, endColorstr=#DDDDDD);
}

.col-gray:hover {
	background-color: #E0E0E0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#BDBBBC));
	background-image: -webkit-linear-gradient(top, #E0E0E0, #BDBBBC);
	background-image: -moz-linear-gradient(top, #E0E0E0, #BDBBBC);
	background-image: -ms-linear-gradient(top, #E0E0E0, #BDBBBC);
	background-image: -o-linear-gradient(top, #E0E0E0, #BDBBBC);
	background-image: linear-gradient(to bottom, #E0E0E0, #BDBBBC);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E0E0E0, endColorstr=#BDBBBC);
}

.col-gray:active {
	background-color: #E0E0E0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#9D9B9C));
	background-image: -webkit-linear-gradient(top, #c0c0c0, #9D9B9C);
	background-image: -moz-linear-gradient(top, #c0c0c0, #9D9B9C);
	background-image: -ms-linear-gradient(top, #c0c0c0, #9D9B9C);
	background-image: -o-linear-gradient(top, #c0c0c0, #9D9B9C);
	background-image: linear-gradient(to bottom, #c0c0c0, #9D9B9C);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c0c0c0, endColorstr=#9D9B9C);
}

.window {
	position: absolute;
	z-index: 2;
	margin: 10px;
	border: 1px outset rgba(0,0,0,0.3);
	background: #fff;
	display: block;
	text-shadow: 1px 1px 2px #bbb;
	box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
	background: linear-gradient(top, #eef 0%, #fff 100%);  
	background: -moz-linear-gradient(top, #eef 0%, #fff 100%); 
	background: -webkit-linear-gradient(top, #eef 0%,#fff 100%); 
	background:-o-linear-gradient(top, #eef 0%,#fff 100%);
	background:-ms-linear-gradient(top, #eef 0%,#fff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef', endColorstr='#fff',GradientType=0);
}

.window .header {
	position:absolute;
	vertical-align: middle;
	top:1px;
	left:1px;
	right:1px;
	height:26px;
	line-height: 22px;
	background: linear-gradient(top, #cce 0%, #aac 100%);  
	background: -moz-linear-gradient(top, #cce 0%, #aac 100%); 
	background: -webkit-linear-gradient(top, #cce 0%,#aac 100%); 
	background:-o-linear-gradient(top, #cce 0%,#aac 100%);
	background:-ms-linear-gradient(top, #cce 0%,#aac 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cce', endColorstr='#aac',GradientType=0);
	font-size:18px;
	text-shadow: 1px 1px 2px #557;
	font-family:"Times New Roman", Times, serif;
	color:#fff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.window .header .close {
	position:absolute;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	top:1px;
	right:1px;
	width:22px;
	height:20px;
	font-size:21px;
	text-align:center;
	background: linear-gradient(top, #eef 0%, #bbd 100%);  
	background: -moz-linear-gradient(top, #eef 0%, #bbd 100%); 
	background: -webkit-linear-gradient(top, #eef 0%,#bbd 100%); 
	background:-o-linear-gradient(top, #eef 0%,#bbd 100%);
	background:-ms-linear-gradient(top, #eef 0%,#bbd 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef', endColorstr='#bbd',GradientType=0);
	cursor: pointer;
	z-index: 1000;
}	

.window .header .close:hover {
	text-shadow: 0px 0px 5px #fff;
	background: linear-gradient(top, #fdd 0%, #c99 100%);  
	background: -moz-linear-gradient(top, #fdd 0%, #c99 100%); 
	background: -webkit-linear-gradient(top, #fdd 0%,#c99 100%); 
	background:-o-linear-gradient(top, #fdd 0%,#c99 100%);
	background:-ms-linear-gradient(top, #fdd 0%,#c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd', endColorstr='#c99',GradientType=0);
}

.window .content {
	position: relative;
	padding: 20px;
	text-align: center;
}

.window .content .button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border:1px solid #CCCCCC;
	-webkit-box-shadow: #FEFFFF 0px 1px 1px;
	-moz-box-shadow: #FEFFFF 0px 1px 1px;
	box-shadow: #FEFFFF 0px 1px 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:14px;
	font-family:arial, helvetica, sans-serif;
	padding: 5px 10px 5px 10px;
	text-decoration:none;
	display:inline-block;
	text-shadow: 0px 1px 0 rgba(255,255,255,1);
	font-weight:bold;
	color: #4A4A4A;
	background-color: #F7F5F6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F5F6), to(#DDDDDD));
	background-image: -webkit-linear-gradient(top, #F7F5F6, #DDDDDD);
	background-image: -moz-linear-gradient(top, #F7F5F6, #DDDDDD);
	background-image: -ms-linear-gradient(top, #F7F5F6, #DDDDDD);
	background-image: -o-linear-gradient(top, #F7F5F6, #DDDDDD);
	background-image: linear-gradient(to bottom, #F7F5F6, #DDDDDD);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F7F5F6, endColorstr=#DDDDDD);
}

.window .content .button:active {
	border: 1px solid #ADADAD;
	background-color: #E0E0E0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#BDBBBC));
	background-image: -webkit-linear-gradient(top, #E0E0E0, #BDBBBC);
	background-image: -moz-linear-gradient(top, #E0E0E0, #BDBBBC);
	background-image: -ms-linear-gradient(top, #E0E0E0, #BDBBBC);
	background-image: -o-linear-gradient(top, #E0E0E0, #BDBBBC);
	background-image: linear-gradient(to bottom, #E0E0E0, #BDBBBC);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E0E0E0, endColorstr=#BDBBBC);
}