
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    Options -Indexes
    RewriteRule !\.(?:jpe?g|gif|bmp|png|tiff|css|js)$ App.php [L,NC]
    #RewriteRule ^(.*)$ App.php?path=$1 [NC,L,QSA]
</IfModule>